<app-header-component>
</app-header-component>
<div id="tabs" class="container-fluid row">
    <ul>
        <li><a href="http://www.free-css.com/"><span>Notifications</span></a></li>
        <li><a routerLink="/profile" href="/profile"><span>Profile</span></a></li>
        <li><a href="http://www.free-css.com/"><span>Subject</span></a></li>
        <li><a href="http://www.free-css.com/"><span>Class</span></a></li>
        <li><a href="http://www.free-css.com/"><span>Tutorials</span></a></li>
        <li><a href="http://www.free-css.com/"><span>Reference</span></a></li>
        <li><a rel="nofollow" target="_blank" href="http://www.exploding-boy.com/" title="explodingboy"><span>explodingboy</span></a></li>
    </ul>
</div>