<!-- Fixed Navbar Header -->
<app-menu></app-menu>
<!-- end Fixed Navbar Header -->

<app-common-header
        [pageTitle]="'All subjects'">
</app-common-header>

<div class="content-wrapper has-adaptable-bar">
  <div class="row">
      <div class="col-sm-12">
        <div class="unsettled-list table-like-sm">
          <div class="table-cell-like-sm">
            Subject code
          </div>
          <div class="table-cell-like-sm sorting">
            Subject name
          </div>
          <div class="table-cell-like-sm sorting">
            Point
          </div>
        </div>
        <ul class="unsettled-list">
          <li *ngFor="let subject of subjects">
            <div class="table-cell">
              {{subject?.name}}
            </div>
            <div class="table-cell">
              <b>{{subject?.code}}</b>
            </div>
            <div class="table-cell">
              {{subject?.credit_point}}
            </div>
          </li>
        </ul>
        <div class="text-center margin-top-10 margin-bottom-10">
          <app-paginator class="bullet-pagination"
                             [totalPages]="totalPages"
                             [currentPage]="currentPage"
                             (redirectCallback)="redirectCallback($event)">
          </app-paginator>
        </div>
        <div class="pagination-counter small-text text-center margin-bottom-20">
          <span class="text-color-yellow">{{page}}</span> / <span class="text-color-dark">{{totalPages}}</span>
        </div>

      </div>
  </div>
</div>
