<!-- Fixed Navbar Header -->
<app-menu></app-menu>
<!-- end Fixed Navbar Header -->

<app-common-header
        [pageTitle]="'All subjects'">
</app-common-header>

<div class="content-wrapper has-adaptable-bar" *ngIf="subjects">
  <div class="row">
      <div class="col-sm-12">
        <div class="unsettled-list table-like-sm">
          <div class="table-cell-like-sm">
            Subject code
          </div>
          <div class="table-cell-like-sm sorting">
            Subject name
          </div>
          <div class="table-cell-like-sm sorting">
            Point
          </div>
          <div class="table-cell-like-sm sorting">
            Detail
          </div>
        </div>
        <ul class="unsettled-list">
          <li *ngFor="let subject of subjects">
            <div class="table-cell">
              {{subject?.name}}
            </div>
            <div class="table-cell">
              <b>{{subject?.code}}</b>
            </div>
            <div class="table-cell">
              {{subject?.creditPoint}}
            </div>
            <div class="table-cell">
              <div class="item-bound">
                <a class="item" routerLink="/subjects/edit/{{subject?.id}}">
                  <i class="fas fa-info-circle"></i>
                </a>
                <i class="fas fa-trash-alt item" (click)="deleteSubject(subject)"></i>
                <a class="item" routerLink="/subjects/{{subject?.id}}/scores">
                  <i class="fas fa-users"></i>
                </a>
              </div>
            </div>
          </li>
        </ul>
        <div class="text-center margin-top-10 margin-bottom-10">
          <app-paginator class="bullet-pagination"
                             [totalPages]="totalPages"
                             [currentPage]="currentPage"
                             (redirectCallback)="redirectCallback($event)">
          </app-paginator>
        </div>
        <div class="pagination-counter small-text text-center margin-bottom-20">
          <span class="text-color-yellow">{{page}}</span> / <span class="text-color-dark">{{totalPages}}</span>
        </div>
        <div class="add-button">
          <a routerLink="/subjects/add">
            <button>Add more subject</button>
          </a>
        </div>

      </div>
  </div>
</div>
