<app-header-component>
</app-header-component>

<app-common-header
  [pageTitle]="'Sign in'">
</app-common-header>

<div class="container-fluid row">
<form [formGroup]="form"
      (submit)="signIn()">
  <div class="form-group">
    <label for="email" class="form-part">
      <i class="fas fa-envelope-open-text"></i>
    </label>
    <input type="text" name="email" id="email" placeholder="email" formControlName="email" [ngModel] email>
    <span *ngIf="hasError('email')">Invalid email</span>
  </div>

  <div class="form-group">
    <label for="password" class="form-part">
      <i class="fas fa-key"></i>
    </label>
    <input type="password" name="password" id="password" placeholder="Enter your password" formControlName="password" class="pass">
    <span *ngIf="hasError('password')">Required field</span>
  </div>

  <div class="form-group submit-button">
    <button type="submit" class="btn">Sign in</button>
  </div>
</form>
</div>
