<app-header-component
  [pageTitle]="pageTitle">
</app-header-component>

<div class="container-fluid">
<form class="form-group"
      [formGroup]="form"
      (submit)="signIn()">
  <div>
    <label for="email">
      <i class="ion-ios-email-outline text-color-primary"></i>
    </label>
    <input type="text" name="email" id="email" placeholder="email" formControlName="email" [ngModel] email>
    <span *ngIf="hasError('email')">Invalid email</span>
  </div>

  <div>
    <label for="password">
      <i class="ion-ios-email-outline text-color-primary"></i>
    </label>
    <input type="password" name="password" id="password" placeholder="Enter your password" formControlName="password">
    <span *ngIf="hasError('password')">Required field</span>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-bordered centered">Sign in</button>
  </div>
</form>
</div>
