.table-like-sm {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-left: 15%;
}
ul {
  margin: 0;
  width: 70%;
  padding: 0 0 0 15%;
}
.table-cell-like-sm, .table-cell {
  width: 25%;
  left: 0;
  border: 1px solid black;
}
.table-cell-like-sm {
  background-color: darkgray;
}
li {
  display: flex;
  margin: 0;
  padding: 0;
}
.pagination-counter, .add-button {
  display: flex;
  justify-content: center;
}
.item-bound {
  margin-left: 30%;
}
.item {
  margin-right: 10px;
}
