.profile {
  padding-top: 30px;
}
.content-section {
  flex-direction: column;
  justify-content: center;
}
.form-group {
  display: flex;
  padding-bottom: 15px;
}
.content-section {
  width: 40%;
  padding-left: 43%;
  font-size: 18px;
}
